@import '../settings';
@import '../_media-queries';

@mixin button {
    height: $button-and-input-height;
    padding: 0 $button-horizontal-padding;
    border: $button-border-width solid $button-background-color;
    background: $button-background-color;
    color: $button-text-color;
    font-family: $body-font-family;
    font-size: $base-font-size-rem;

    &:hover {
        cursor: pointer;
        background: $button-hover-color;
        border-color: $button-hover-color;
    }

    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background, color, border-color;

    @include respond-to(handhelds) {
        width: 100%;
    }
}

@mixin secondary-button {
    color: map-get($colors, 'black');
    background: map-get($colors, 'white');

    &:hover {
        background: $button-hover-color;
        color: $button-text-color;
        border-color: $button-hover-color;
    }
}

@mixin disabled-button {
    background: $button-disabled-background-color;
    border-color: $button-disabled-background-color;
    color: $button-disabled-text-color;

    &:hover {
        cursor: not-allowed;
    }
}

@mixin buttons {
    .button,
    button {
        @include button;

        &.secondary {
            @include secondary-button;
        }

        &[disabled] {
            @include disabled-button;
        }
    }
}