@import '../settings';
@import 'media-queries';

@mixin footer {
    footer {
        font-size: $footer-font-size-rem;
        border-top: 1px solid $footer-border-color;
        padding: $base-spacing * 4;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include respond-to(handhelds) {
            justify-content: start;
        }

        ul,
        ol {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin-left: 0;

            @include respond-to(handhelds) {
                flex-basis: 100%;
            }

            li {
                & a {
                    display: block;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}