@import '../settings';

@mixin forms {
    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]) {
        height: $button-and-input-height;
        font-size: $base-font-size-rem;
        font-family: $body-font-family;
        padding: 0 $input-horizontal-padding;
        border: $input-border-width solid $input-border-color;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    select {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    label {
        display: block;
        font-weight: bold;
        margin-right: $base-spacing;
    }


    input[disabled]:hover {
        cursor: not-allowed;
    }

    fieldset {
        border: none;

        legend {
            font-weight: bold;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
        margin-bottom: 1.5rem;

        &:hover {
            cursor: pointer;
        }

        &[disabled] + label {
            color: $disabled-font-color;

            &:hover {
                cursor: not-allowed;
            }
        }

        + label {
            font-weight: normal;
            display: inline;
        }
    }
}