@import '../settings';

@mixin images {
    img {
        max-width: 100%;
        margin: 3rem auto;
    }

    .img-caption {
        margin: -2rem 0 3rem;
        @extend .text-center;

        p {
            font-size: $image-caption-font-size;
            font-style: italic;
            color: $image-caption-font-color;
        }
    }
}
