@mixin lists {
    ol,
    ul {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }

        &.no-bullet {
            list-style: none;
        }

        &.inline-list li {
            list-style: none;
            display: inline-block;
        }
    }
}