@import '../settings';

@mixin nav {
    body {
        padding-top: $nav-height;
    }

    nav {
        height: $nav-height;
        font-size: $nav-font-size-rem;
        border-bottom: 1px solid $nav-border-color;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: $nav-background-color;
        z-index: 100;

        ul, ol {
            height: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;

            li {
                display: flex;
                align-items: center;

                & a {
                    display: block;
                    padding: $base-spacing * 2;
                    text-decoration: none;
                }
            }
        }
    }
}