@import '../settings';
@import '../media-queries';

@mixin pagination-card {
    @extend .card;

    $margin: $base-spacing * 2;

    display: flex;
    flex-basis: 50%;
    margin: $margin;

    @include respond-to(medium-down) {
        width: calc(100% - (#{$margin} * 2));
    }

    .card-body {
        flex-basis: 100%;
    }

    .card-pagination {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.25s ease-in-out;

        &:hover {
            transform: scale(1.25);
        }

        &.next {
            padding-right: $base-spacing * 2;
        }

        &.previous {
            padding-left: $base-spacing * 2
        }
    }
}

@mixin pagination-cards {
    .pagination-card {
        @include pagination-card;
    }
}