[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
django = "~=2.1.11"
django-storages = "*"
"boto3" = "*"
mysqlclient = "*"
rollbar = "*"
django-webpack-loader = "*"
django-markupfield = "*"
django-ordered-model = "*"
markdown = "*"
pillow = "*"

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.6"
