{% load i18n %}

<h2 id="cards">{% trans 'Cards' %}</h2>
<hr />
<div class="card has-image">
    <div class="card-image">
        <img src="https://source.unsplash.com/C1fMH2Vej8A/800x450" />
    </div>
    <div class="card-body">
        <header class="card-title">
            {% trans 'This is a card' %}
        </header>
        <section class="card-description">
            {% blocktrans %}
            A snippet of text goes here that will draw in the reader.
            This should be a couple of sentences, but not too long.
            {% endblocktrans %}
        </section>
    </div>
</div>