{% load i18n %}

<h2 id="lists">{% trans 'Lists' %}</h2>
<hr />
<h3>{% trans 'Unordered list' %}</h3>
<ul>
    <li>{% trans 'One' %}</li>
    <li>{% trans 'Two' %}</li>
    <li>
        {% trans 'Three' %}
        <ul>
            <li>{% trans 'Nested one' %}</li>
            <li>{% trans 'Nested two' %}</li>
            <li>{% trans 'Nested three' %}</li>
        </ul>
    </li>
</ul>

<h3>{% trans 'Ordered list' %}</h3>
<ol>
    <li>{% trans 'One' %}</li>
    <li>{% trans 'Two' %}</li>
    <li>
        {% trans 'Three' %}
        <ul>
            <li>{% trans 'Nested one' %}</li>
            <li>{% trans 'Nested two' %}</li>
            <li>{% trans 'Nested three' %}</li>
        </ul>
    </li>
</ol>

<h3>{% trans 'Un-bulleted list' %}</h3>
<ul class="no-bullet">
    <li>{% trans 'One' %}</li>
    <li>{% trans 'Two' %}</li>
    <li>
        {% trans 'Three' %}
        <ul>
            <li>{% trans 'Nested one' %}</li>
            <li>{% trans 'Nested two' %}</li>
            <li>{% trans 'Nested three' %}</li>
        </ul>
    </li>
</ul>

<h3>{% trans 'Inline list' %}</h3>
<ul class="inline-list">
    <li>{% trans 'One' %}</li>
    <li>{% trans 'Two' %}</li>
    <li>
        {% trans 'Three' %}
        <ul>
            <li>{% trans 'Nested one' %}</li>
            <li>{% trans 'Nested two' %}</li>
            <li>{% trans 'Nested three' %}</li>
        </ul>
    </li>
</ul>

<h3>{% trans 'Definition list' %}</h3>
<dl>
    <dt>One</dt>
    <dd>The number one</dd>
    <dt>Two</dt>
    <dd>The number two</dd>
</dl>