{% load i18n %}

<h2 id="typography">{% trans 'Typography' %}</h2>
<hr />
<h1>{% trans 'Heading Level 1' %}</h1>
<h2>{% trans 'Heading Level 2' %}</h2>
<h3>{% trans 'Heading Level 3' %}</h3>
<h4>{% trans 'Heading Level 4' %}</h4>
<h5>{% trans 'Heading Level 5' %}</h5>
<h6>{% trans 'Heading Level 6' %}</h6>

<p>
    {% blocktrans %}
    Paragraphs are optimized for accessible reading, with a line height one and one-half times the text size.
    Space between paragraphs is two and one-quarter times the text size. Paragraphs following other paragraphs
    have a sizable first line indent.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans %}
    Paragraphs are justified to the left and words extending over the right margin are hyphenated to the next line.
    Elements with the <code>piquant</code> class show in the style of the <span class="piquant">Piquant</span> wordmark.
    Text may also be <strong>strongly</strong> <em>emphasized</em>.
    {% endblocktrans %}
</p>