<a href="{% url 'zine:article' issue.slug article.slug %}" class="pagination-card no-underline">
    {% if direction == 'previous' %}
        <div class="card-pagination previous">
            <i class="fas fa-chevron-left" title="Previous article"></i>
        </div>
    {% endif %}
    <div class="card-body">
        <header class="card-title">
            {{ article }}
        </header>
        <section class="card-description">{{ article.synopsis }}</section>
    </div>
    {% if direction == 'next' %}
        <div class="card-pagination next">
            <i class="fas fa-chevron-right" title="Next article"></i>
        </div>
    {% endif %}
</a>