<a class="no-underline" href="{% url 'zine:article' issue.slug article.slug %}">
    <div class="card{% if article.cover_image %} has-image{% endif %}">
        {% if article.cover_image %}
            <div class="card-image">
                <img src="{{ article.cover_image.image.url }}" alt="{{ article.cover_image.alt_text }}"/>
            </div>
        {% endif %}

        <div class="card-body">
            <header class="card-title">
                {{ article }}
            </header>
            <section class="card-description">{{ article.synopsis }}</section>
        </div>
    </div>
</a>
