@mixin layout {
    *,
    ::after,
    ::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    * + * {
        margin-top: 1.5rem;
    }

    body {
        margin: 0;
    }

    main {
        width: 75vw;
        margin: 0 auto;
        max-width: 750px;
    }
}
