@import 'settings';
@import 'media-queries';

@mixin layout {
    *,
    ::after,
    ::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    * + * {
        margin-top: 1.5rem;
    }

    body {
        margin: 0;
    }

    main {
        width: 75vw;
        margin: 0 auto;
        max-width: $paragraph-max-width;

        @include respond-to(handhelds) {
            width: 85vw;
        }
    }

    article {
        columns: 2 350px;
        column-gap: 10rem;
        column-rule: 1px solid map-get($colors, 'light-gray');
        position: relative;

        p {
            break-inside: avoid;
        }
    }
}
