$base-padding: 5px;
$base-border-radius: 2px;

$colors: (
    'primary': #FF0000,
    'white': #FFFFFF
);

$body-font-family: 'Spectral', serif;
$body-font-size: 62.5%;

$heading-font-family: 'Georgia';
$heading-font-weight: 100;

$impact-font-family: 'IM Fell English SC';
