$default-line-height: 1.5;

$base-spacing: 5px;
$base-border-radius: 2px;

$colors: (
    'primary': #FF0000,
    'white': #FFFFFF,
    'black': #333333,
    'light-gray': #CCCCCC,
    'disabled-text': #777777,
    'disabled-background': #EEEEEE
);

$breakpoint-small: 480px;
$breakpoint-large: 768px;

$body-font-family: 'Spectral', serif;
$body-font-reset-size: 62.5%;
$body-font-color: map-get($colors, 'black');
$disabled-font-color: map-get($colors, 'light-gray');

$base-font-size-rem: 1.6rem;

$heading-font-family: 'Georgia';
$heading-font-weight: 100;
$heading-line-height: 1;

$impact-font-family: 'IM Fell English SC';

$paragraph-font-size-rem: 1.8rem;
$paragraph-line-height: $default-line-height;
$paragraph-spacing-rem: $default-line-height * 1.5;
$paragraph-indent: 3rem;
$paragraph-max-width: 75rem;

$nav-border-color: map-get($colors, 'light-gray');
$nav-background-color: map-get($colors, 'white');
$nav-font-size-rem: 2rem;

$footer-font-size-rem: 1.6rem;
$footer-border-color: map-get($colors, 'light-gray');

$button-vertical-padding: $base-spacing;
$button-horizontal-padding: $base-spacing * 2;
$button-border-width: 2px;
$button-background-color: map-get($colors, 'black');
$button-text-color: map-get($colors, 'white');
$button-hover-color: lighten($button-background-color, 20);
$button-disabled-text-color: map-get($colors, 'disabled-text');
$button-disabled-background-color: map-get($colors, 'disabled-background');

$button-and-input-height: 4rem;

$input-border-width: 1px;
$input-border-color: map-get($colors, 'light-gray');
$input-vertical-padding: $base-spacing;
$input-horizontal-padding: $base-spacing * 2;

$card-border-color: map-get($colors, 'light-gray');

$image-caption-font-size: 1.4rem;
$image-caption-font-color: map-get($colors, 'disabled-text');
