@import 'settings';

@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from + 1, $to);
    }
}

@mixin typography {
    /*
    // Base setup
    */
    html {
        font-family: $body-font-family;
        font-size: $body-font-reset-size;
        color: $body-font-color;
    }

    body {
        font-size: $base-font-size-rem;
    }

    /*
    // Paragraphs
    */
    p {
        font-size: $paragraph-font-size-rem;
        line-height: $paragraph-line-height;
        word-wrap: break-word;
        hyphens: auto;
        max-width: $paragraph-max-width;
        margin: 0 auto;
        display: table;
    }

    p + p {
        text-indent: $paragraph-indent;
        margin-top: #{$paragraph-spacing-rem}rem;
    }

    /*
    // Headings
    */
    #{headings(1, 6)} {
        font-weight: $heading-font-weight;
        text-align: center;
        line-height: $heading-line-height;
    }

    #{headings(2, 6)} {
        font-family: $heading-font-family;
    }

    h1 {
        font-size: $base-font-size-rem * 9 / 2;
        margin: #{$base-font-size-rem * 9 / 2 / 2} 0;
        font-family: $impact-font-family;
    }

    @for $heading-level from 2 through 6 {
        $heading-font-size-rem: $base-font-size-rem * 1/2 * ((6 - $heading-level) + 1);
        $heading-margin-rem: $heading-font-size-rem / 2;

        h#{$heading-level} {
            font-size: $heading-font-size-rem;
            margin: #{$heading-margin-rem} 0;
        }
    }

    /*
    // Special emphasis font
    */
    .piquant {
        font-family: $impact-font-family;
    }

    /*
    // Utilities
    */
    .text-center {
        display: block !important;
        text-align: center !important;
    }

    .underline {
        text-decoration: underline !important;
    }
}
