@import 'settings';
@import 'utils';
@import 'typography';
@import 'layout';
@import 'spacing';
@import 'components/links';
@import 'components/lists';
@import 'components/nav';
@import 'components/footer';
@import 'components/pullquotes';
@import 'components/buttons';
@import 'components/forms';
@import 'components/cards';
@import 'components/pagination-cards';
@import 'components/images';
@import 'components/separators';

@include utils;
@include typography;
@include layout;
@include spacing;
@include links;
@include lists;
@include nav;
@include footer;
@include pullquotes;
@include buttons;
@include forms;
@include cards;
@include pagination-cards;
@include images;
@include separators;

.article-pagination {
    display: flex;
    justify-content: space-around;

    @include respond-to(medium-down) {
        display: block;
    }
}

header img {
    display: block;
    max-height: 250px;
}