@import 'settings';
@import 'utils';
@import 'typography';
@import 'layout';
@import 'spacing';
@import 'components/links';
@import 'components/lists';
@import 'components/nav';
@import 'components/footer';
@import 'components/buttons';
@import 'components/forms';
@import 'components/cards';
@import 'components/images';

@include utils;
@include typography;
@include spacing;
@include layout;
@include spacing;
@include links;
@include lists;
@include nav;
@include footer;
@include buttons;
@include forms;
@include cards;
@include images;


#article-manager {
    display: flex;

    #editor {
        flex-basis: 33%;
        flex-grow: 0;
        padding-right: $base-spacing * 5;
    }

    #rendered {
        flex-grow: 1;
        max-width: 750px;
        padding: 0 $base-spacing * 10;
        border-left: 1px solid map-get($colors, 'light-gray');
        margin-top: 0;
    }
}