{% extends '__base.html' %}

{% load i18n %}
{% block page_title %}{% if latest_issue %}{{ latest_issue.title }} | {% endif %}{{ block.super }}{% endblock %}
{% block page_description %}{% if latest_issue %}{{ latest_issue.synopsis.rendered|striptags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block og_title %}{% if latest_issue %}{{ latest_issue.title }} | {% endif %}{{ block.super }}{% endblock %}
{% block og_description %}{% if latest_issue %}{{ latest_issue.synopsis.rendered|striptags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block content %}
    {% block topnav %}{% endblock %}
    <header>
        <h1>Piquant</h1>
        {% if latest_issue %}
            <h2>{{ latest_issue.title }}</h2>

            {% if user.is_staff %}
                <div class="text-center">
                    <a href="{% url 'admin:zine_issue_change' latest_issue.id %}" class="underline">{% trans 'Edit' %}</a>
                </div>
            {% endif %}

            {% if latest_issue.cover_image %}
                <img src="{{ latest_issue.cover_image.image.url }}" alt="{{ latest_issue.cover_image.alt_text }}">
            {% endif %}
        {% endif %}
    </header>

    {% if latest_issue %}
        <section class="mbxl">
            {{ latest_issue.synopsis.rendered|safe }}
        </section>

        {% include 'zine/issue/__i_article_set.html' with issue=latest_issue %}
    {% else %}
        <p>
            {% blocktrans %}
            <span class="piquant">Piquant</span> is a publication dedicated to uncovering culture, history, traditions, and
            secrets about the food we eat every day. Join us in the pursuit to understand the elemental foundations of food and
            how they come together into something bigger than themselves.
            {% endblocktrans %}
        </p>
        <div class="text-center">
            <a href="http://eepurl.com/c-1WKL" class="button">
                Join our newsletter
            </a>
        </div>
    {% endif %}
{% endblock content %}
