{% extends '__error_page_base.html' %}

{% load i18n %}

{% block error_page_title %}Page Not Found{% endblock %}

{% block extra_meta_tags %}
<meta name="robots" content="noindex">
{% endblock extra_meta_tags %}

{% block error_title %}{% trans 'Not Found' %}{% endblock %}

{% block error_message %}
    {% url 'zine:home' as home_url %}
    {% blocktrans %}
    The page you are looking for is absolutely nowhere to be found.
    Sorry about that! You can <a href="{{ home_url }}">go home</a>
    and try finding your way again.
    {% endblocktrans %}
{% endblock error_message %}
