{% load static %}
{% load i18n %}
{% load webpack_loader %}

<!doctype html>
<html lang="en">
    <head>
        {% block google_analytics %}
            {% if ENVIRONMENT == 'production' %}
                {% include '__i_google_analytics.html' %}
            {% else %}
                <!-- google analytics will go here -->
            {% endif %}
        {% endblock google_analytics %}

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-site-verification" content="maboi7hHdqtxKfUHLE1A9WqKsDcYSaZ7YLXcb8qkOTQ" />

        {# OpenGraph tags #}
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">
        <meta property="og:type" content="{% block og_type %}website{% endblock %}">
        <meta property="og:title" content="{% block og_title %}Piquant{% endblock %}">
        <meta property="og:url" content="{% block og_url %}https://{{ request.META.HTTP_HOST }}{{ request.get_full_path }}{% endblock %}">
        <meta property="og:description" content="{% block og_description %}{{ DEFAULT_PAGE_DESCRIPTION }}{% endblock %}">
        <meta property="og:site_name" content="Piquant">

        {% block og_images %}
        <meta property="og:image" content="{% static 'images/piquant.png' %}">
        <meta property="og:image:height" content="500">
        <meta property="og:image:width" content="500">
        <meta property="og:image:alt" content="Piquant wordmark in fell type">
        {% endblock og_images %}

        {% block og_extras %}{% endblock %}

        {% block extra_meta_tags %}{% endblock %}

        <title>{% block page_title %}Piquant{% endblock %}</title>
        <meta name="description" content="{% block page_description %}{% firstof page_description DEFAULT_PAGE_DESCRIPTION %}{% endblock %}">

        <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Spectral:300,700" rel="stylesheet">
        {% render_bundle 'main' 'css' %}
        {% include '__i_favicons.html' %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'zine:home' %}" class="piquant">Piquant</a></li>
            </ul>
        </nav>
        <main>
            {% block content %}{% endblock content %}
        </main>
        <footer>
            <ul>
                <li><a href="{% url 'about:about' %}">{% trans 'About' %}</a></li>
                <li><a href="{% url 'communication:newsletter' %}">{% trans 'Newsletter' %}</a></li>
            </ul>
            <ul>
                <li><a href="https://www.facebook.com/piquantmagazine">Facebook</a></li>
                <li><a href="https://www.instagram.com/piquantmagazine">Instagram</a></li>
                <li><a href="https://www.twitter.com/piquantmag">Twitter</a></li>
            </ul>
            <ul>
                <li>&copy; {% now "Y" %} Piquant. {% trans 'All Rights Reserved' %}.</li>
            </ul>
        </footer>
        {% block javascript %}
            {% render_bundle 'main' 'js' %}
        {% endblock javascript %}
    </body>
</html>
