<div class="text-center">
    <form
        action="https://piquantmag.us17.list-manage.com/subscribe/post?u=523fa74ae2f53d62e9183bc43&amp;id=fdd3cf1a41"
        method="post"
        target="_blank"
        novalidate
    >
        <label for="mce-EMAIL" class="sr-only">Email Address </label>
        <input type="email" placeholder="email address" value="" name="EMAIL" class="mtxl mbn" id="mce-EMAIL">

        <input type="submit" value="Get status updates" name="subscribe" class="button">

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <label for="signup-key" tabindex="-1">Key</label>
            <input type="text" id="signup-key" name="b_523fa74ae2f53d62e9183bc43_fdd3cf1a41" tabindex="-1" value="">
        </div>
    </form>
</div>