{% extends '__base_amp.html' %}
{% load i18n %}
{% load static %}
{% load readtime %}

{% block canonical %}{% url 'zine:article' issue_slug=article.issue.slug article_slug=article.slug %}{% endblock %}

{% block page_title %}{{ article.title }} | {{ block.super }}{% endblock %}

{% block ld_json %}
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "{{ article.title }}",
        "description": "{{ article.synopsis }}",
        {% if article.cover_image %}
        "image": [
            "{{ article.cover_image.image.url }}"
        ],
        {% endif %}
        "datePublished": "{{ article.issue.publication_date|date:'c' }}",
        "dateModified": "{{ article.updated_time|date:'c' }},
        {% if article.authors.first %}
        "author": {
            "@type": "Person",
            "name": "{{ article.authors.first.display_name }}"
        },
        {% endif %}
        "publisher": {
            "@type": "Organization",
            "name": "Piquant",
            "logo": {
                "@type": "ImageObject",
                "url": "{% static 'images/piquant-amp.png' %}",
                "height": "60",
                "width": "200"
            }
        }
    }
{% endblock %}

{% block content %}
    <header>
        <h1>{{ article }}</h1>
        <span class="text-center">
            by {{ article.authors.all|join:", " }}
        </span>
        <span class="mtxs text-center muted">
            {% blocktrans with minutes=article.html|striptags|readtime %}A {{ minutes }}-minute read{% endblocktrans %}
            {% if article.issue %}
                {% trans 'From the issue' %} <a href="{% url 'zine:issue' article.issue.slug %}" class="piquant underline">{{ article.issue.title }}</a>
            {% endif %}
        </span>

        {% if article.cover_image %}
        <div class="img-wrapper">
            <amp-img
                src="{{ article.cover_image.image.url }}"
                alt="{{ article.cover_image.alt_text }}"
                height="{{ article.cover_image.image.height }}"
                width="{{ article.cover_image.image.width }}"
                layout="responsive"
            ></amp-img>
        </div>
        {% endif %}
    </header>
    <article>
    {{ article.amphtml }}
    </article>
{% endblock content %}