{% extends '__base.html' %}

{% load i18n %}
{% load static %}

{% block page_title %}{{ article }} | {{ article.issue }} | {{ block.super }}{% endblock %}
{% block page_description %}{{ article.synopsis }}{% endblock %}

{% block og_title %}{{ article }} | {{ article.issue }} | {{ block.super }}{% endblock %}
{% block og_description %}{{ article.synopsis }}{% endblock %}
{% block og_type %}article{% endblock %}

{% block extra_meta_tags %}
    {% for author in article.authors.all %}
        <meta property="article:author" content="{{ author }}">
    {% endfor %}

    <meta property="article:published_time" content="{{ article.created_time|date:'c' }}">
    <meta property="article:modified_time" content="{{ article.updated_time|date:'c' }}">

    {% if article.issue %}
        <link rel="amphtml" href="{% url 'zine:amp_article' issue_slug=article.issue.slug article_slug=article.slug %}">
    {% endif %}
{% endblock %}

{% block content %}
    <header>
        <h1>{{ article }}</h1>

        {% if article.authors.all %}
            <span class="text-center">
                By {{ article.authors.all|join:", " }}
            </span>
        {% endif %}

        {% if article.issue %}
            <span class="text-center">
                {% trans 'From the issue' %} <a href="{% url 'zine:issue' article.issue.slug %}" class="piquant underline">{{ article.issue.title }}</a>
            </span>
        {% endif %}

        {% if user.is_staff %}
            <div class="text-center">
                <a href="{% url 'admin:zine_article_change' article.id %}" class="underline">{% trans 'Edit' %}</a>
            </div>
        {% endif %}

        {% if article.cover_image %}
            <img src="{{ article.cover_image.image.url }}" alt="{{ article.cover_image.image.alt_text }}">
        {% endif %}
    </header>

    <article>
        {{ article.html }}
    </article>

    {% if next_article or previous_article %}
        <footer>
            <hr class="mtxl mbxl"/>

            <div class="article-pagination">
                {% with issue=article.issue %}
                    {% if previous_article %}
                        {% include 'zine/navigation/__i_article_pagination_card.html' with article=previous_article direction='previous' %}
                    {% endif %}

                    {% if next_article %}
                        {% include 'zine/navigation/__i_article_pagination_card.html' with article=next_article direction='next' %}
                    {% endif %}
                {% endwith %}
            </div>
        </footer>
    {% endif %}
{% endblock content %}

{% block ld_json %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Article",
            "headline": "{{ article.title }}",
            "description": "{{ article.synopsis }}",
            {% if article.cover_image %}
            "image": [
                "{{ article.cover_image.image.url }}"
            ],
            {% endif %}
            "datePublished": "{{ article.issue.publication_date|date:'c' }}",
            "dateModified": "{{ article.updated_time|date:'c' }},
            {% if article.authors.0 %}
            "author": {
                "@type": "Person",
                "name": "{{ article.authors.0.display_name }}"
            },
            {% endif %}
            "publisher": {
                "@type": "Organization",
                "@id": "{% url 'about:about' %}"
            }
        }
    </script>
{% endblock ld_json %}