{% extends '__base.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}{% trans 'About' %} | {{ block.super }}{% endblock %}
{% block page_description %}{% trans 'Learn more about us and our mission at Piquant' %}{% endblock %}

{% block og_title %}{% trans 'About' %} | {{ block.super }}{% endblock %}
{% block og_description %}{% trans 'Learn more about us and our mission at Piquant' %}{% endblock %}

{% block content %}
<h1>{% trans 'About' %}</h1>

    <p>
    {% blocktrans %}
    <span class="piquant">Piquant</span> was created as an answer to a series of questions we found ourselves asking
    over and over again. We wanted to know not only where our food came from, but where its ingredients came from.
    We wanted to know why exactly salt, fat, and sugar have been considered unhealthy at one time or healthy at another.
    We wanted to know the rich cultural traditions and history behind dishes we eat every day.
    {% endblocktrans %}
    </p>

    <p>
    {% blocktrans %}
    Once we started digging to find some of these answers, we decided to embark on a journey to share this knowledge
    as widely as possible. Our hope is that you will use <span class="Piquant"> as a resource to inform your buying,
    eating, and lifestyle habits. We also hope you'll strike up similar conversations with people who have interesting
    stories and lore to share.
    {% endblocktrans %}
    </p>
{% endblock content %}

{% block ld_json %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Piquant",
        "url": "{% url 'zine:home' %}",
        "sameAs": [
            "https://www.facebook.com/piquantmagazine",
            "https://www.instagram.com/piquantmagazine",
            "https://www.twitter.com/piquantmag"
        ],
        "logo": {
            "@type": "ImageObject",
            "url": "{% static 'images/piquant-amp.png' %},
            "width": 200,
            "height": 60
        }
    }
    </script>
{% endblock ld_json %}