{% extends '__base.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}{% trans 'About' %} | {{ block.super }}{% endblock %}
{% block page_description %}{% trans 'Learn more about us and our mission at Piquant' %}{% endblock %}

{% block og_title %}{% trans 'About' %} | {{ block.super }}{% endblock %}
{% block og_description %}{% trans 'Learn more about us and our mission at Piquant' %}{% endblock %}

{% block content %}
<h1>{% trans 'What is Piquant?' %}</h1>

    <p>
        {% blocktrans %}
        <span class="piquant">Piquant</span> is the answer to a question. It's the answer to many questions.
        <em>
            What's in this food I'm eating?
            Where did these ingredients come from?
            When did people start eating this?
        </em>
        The deeper the rabbit hole grew, the thirstier we grew for knowledge about the origins of food.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
        The science, history, culture, and enjoyment of food is something we want to explore and share with you.
        We want you to learn alongside us and share your most intimate experiences with food, agriculture, and more.
        We're interested in hearing from farmers, chefs, nutritionists, historians, and enthusiasts alike so that we
        can comprehensively uncover what food is all about.
        {% endblocktrans %}
    </p>

    <hr class="mtxl mbxl" />

    <p>
        {% url 'communication:newsletter' as signup_link %}
        {% blocktrans %}
        Please <a href="{{ signup_link }}">join the adventure</a> and reach out with your stories whenever you'd like.
        {% endblocktrans %}
    </p>
{% endblock content %}

{% block ld_json %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Piquant",
        "url": "https://{{ request.META.HTTP_HOST }}{% url 'zine:home' %}",
        "sameAs": [
            "https://www.facebook.com/piquantmagazine",
            "https://www.instagram.com/piquantmagazine",
            "https://www.twitter.com/piquantmag"
        ],
        "logo": {
            "@type": "ImageObject",
            "url": "{% static 'images/piquant-amp.png' %}",
            "width": 200,
            "height": 60
        }
    }
    </script>
{% endblock ld_json %}
