{% extends '__base.html' %}

{% load i18n %}

{% block page_title %}{{ issue }} | {{ block.super }}{% endblock %}
{% block page_description %}{{ issue.synopsis.rendered|striptags }}{% endblock %}

{% block og_title %}{{ issue }} | {{ block.super }}{% endblock %}
{% block og_description %}{{ issue.synopsis.rendered|striptags }}{% endblock %}

{% block content %}
    <header>
        <h1>{{ issue.title }}</h1>
        {% if user.is_staff %}
        <div class="text-center">
            <a href="{% url 'admin:zine_issue_change' issue.id %}" class="underline">{% trans 'Edit' %}</a>
        </div>
        {% endif %}
        <img src="{{ issue.cover_image.image.url }}" alt="{{ issue.cover_image.alt_text }}">
    </header>
    <section>
        <p>
            {{ issue.synopsis.rendered|safe }}
        </p>
    </section>

    {% include 'zine/issue/__i_article_set.html' %}
{% endblock %}
